<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3><%= @cocktail.name %></h3>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <div class="card card-cocktail" style="background-image: url(<%= image_path @cocktail.picture.url(:medium) %>);">
      </div>
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="card card-doses">
          <div>
            <% if @cocktail.doses.any? %>
              <% @cocktail.doses.each do |dose| %>
                <% if dose.id %>
                  <p><%= dose.description %> of <strong><%= dose.ingredient.name %></strong> <%= link_to ("<i class='fa fa-trash color-pink'></i>").html_safe, cocktail_dose_path(@cocktail, dose), method: :delete %>
                    <!-- change to dose_path(dose) for rake ok -->
                  </p>
                <% end %>
              <% end %>
            <% end %>
            <%= link_to "Add an ingredient", '#dose-form', id: "add-ingredient" %>
          </div>
        </div>
      </div>
      <div class="row">
        <%= render 'doses/new' %>
      </div>
    </div>
  </div>
</div>
